
img, video {
  max-width: 100%;
}

.v-speed-dial {
  .v-btn--floating {
    .v-icon {
      height: auto;
      width: auto;
    }

    .v-btn__content {
      .v-icon {
        top: auto;
        left: auto;
      }
    }
  }
}

.v-btn--floating {
  .v-icon {
    height: auto;
    width: auto;
  }

  .v-btn__content {
    .v-icon {
      top: auto;
      left: auto;
    }
  }
}

.v-pagination__navigation .v-icon {
  font-size: inherit;
  transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  vertical-align: inherit;
}

.v-menu__content {
  .v-list {
    padding: 0;
  }
}